<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
 <p><%= base64 %></p>
 <img src="<%'data:image/jpeg;base64,'+ base64%>" />
<ul>
   
   <li>list</li>
</ul>

</div>

</body>
</html>
