<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
 <ul>
      <% base64Array.forEach(function(r) { %>
        <li><img src="<%= 'data:image/jpeg;base64,'+ r %>" height="300"/></li>
    <% }); %>
 </ul>
 <p>images</p>
</div>

</body>
</html>
