<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
<img src="<%= 'data:image/jpeg;base64,'+ base64 %>" height="300"/>
<p><%=results.url%></p>
 <p>images</p>
</div>

</body>
</html>
